section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section > * {
  margin-right: 10px;
  margin-bottom: 10px;
}

input[type="text"] {
  font-weight: 700;
  height: 100%;
  width: 10rem;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding-inline: 10px;
  background-color: #0e0e0e;
  color: #d5d8da;
}

input[type="file"] {
  font-weight: 700;
  height: 100%;
  /* width: 10rem; */
  box-sizing: border-box;
  border: none;
  /* outline: none; */
  padding-inline: 10px;
  background-color: #0e0e0e;
  color: #d5d8da;
}
