section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section > * {
  margin-right: 10px; /* Adjust as needed */
  margin-bottom: 10px; /* Adjust as needed */
}

input[type="text"] {
  font-weight: 700;
  height: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding-inline: 10px;
}
